<header class="flex items-center justify-between py-4">
    <div class="flex items-center space-x-10">
        <img src="./Images/Hamburger-Menu.png" alt="Hamburger-Menu" loading="lazy">
        <a href="/">
            <img src="/Images/Avana_nuevo_logo.png" alt="Avana_nuevo_logo" loading="lazy">
        </a>
    </div>
    <div class="flex items-center space-x-10">
        <img src="./Images/Search-icon.png" alt="Search-icon" loading="lazy">
        <button
            class="flex items-center gap-x-2 px-4 py-2 font-Manrope text-base font-medium border border-black-300 rounded-xl cursor-pointer">
            Login to portal
            <img src="./Images/Login-portal-button-icon.png" alt="Login-portal-button-icon" loading="lazy">
        </button>
    </div>
</header>